html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    // height: 100%;
    font-family: 'Open Sans', 'SF Pro Display Regular',sans-serif;
}

    

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
// @font-face {
//     font-family: 'SF Pro Display Regular', sans-serif;
//     src: url('fonts/SF Pro Display Regular/SF Pro Display Regular.woff2') format('woff2'),
//         url('../fonts/SF Pro Display Regular/SF Pro Display Regular.woff') format('woff');
//     font-weight: 400;
//     font-display: swap;   
// }

// @font-face {
//     font-family: 'SF Pro Display Medium', sans-serif;
//     src: url('../fonts/SF Pro Display Medium/SF Pro Display Medium.woff2') format('woff2'),
//         url('../fonts/SF Pro Display Medium/SF Pro Display Medium.woff') format('woff');
//     font-weight: 500;
//     font-display: swap;    
// }

// @font-face {
//     font-family: 'SF Pro Text Regular', sans-serif;
//     src: url('./fonts/SF Pro Text Regular/SF Pro Text Regular.woff2') format('woff2'),
//         url('./fonts/SF Pro Text Regular/SF Pro Text Regular.woff') format('woff');
//     font-weight: 500;
//     font-display: swap;    
// }

// @font-face {
//     font-family: 'SF Pro Text Medium', sans-serif;
//     src: url('./fonts/SF Pro Text Medium/SF Pro Text Medium.woff2') format('woff2'),
//         url('./fonts/SF Pro Text Medium/SF Pro Text Medium.woff') format('woff');
//     font-weight: 500;
//     font-display: swap;    
// }