@media (max-width: 1050px)  {

    .header-info {
        &__main {
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }
            .rating {
                margin-right: 5px;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
            }

            .button-come-in {
                margin-right: 15px;
            }

        }
    }


    .header-inner {
            li {
                margin-top: 5px;
                &:nth-child(3) {
                    margin-right: 80px;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    margin-right: 20px;
                }
            }
        }

    .header-info__menu {
        margin-top: 10px;
        text-align: center;
        li {
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }

    .header-bottom__inner {
        text-align: center;
        li {
            margin-bottom: 10px;
        }
    }

    .main-info__text {
        margin-left: 130px;
    }
}

@media (max-width: 1000px)  {
    .main-info__posts {
        flex-wrap: wrap;
        padding-right: 90px;
    }
    .main-info__post{
        margin-bottom: 15px;
        &:last-child {
            // padding-left: 20px;
            margin-right: 50px;
        }
    }
}

@media (max-width: 970px) {
    .header-info {
        &__main {
            // padding-right: 80px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
                order: 0;
            }

            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 5px;
            }

            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                order: 0;
            }
        
        }
    }
}

@media (max-width: 880px) {
    .header-info {
        &__main {
            padding-right: 30px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
                order: 0;
            }

            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 5px;
            }

            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 5px;
                order: 1;
            }
        
        }
    }
}

@media (max-width: 850px) {
    .header-info {
        &__main {
            margin-right: 150px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
                order: 0;
            }

            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 5px;
            }

            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 5px;
                order: 1;
            }
        
        }
    }

    .header-info {
        .search-panel {
            margin-right: 15px;
            width: 320px;
            input[type="search"] {
                font-size: 10px;
                padding-left: 10px;
            }
            input[type="submit"] {
                font-size: 10px;
            }
        }
    }
}


@media (max-width: 850px) {
    .main-info__text {
        margin-left: 80px;
    }

    .main-info__posts {
        flex-wrap: wrap;
        padding-right: 90px;
    }
    .main-info__post{
        margin-bottom: 15px;
        &:first-child {
            margin-right: 15px;
        }
    }
}

@media (max-width: 720px) {
    .main-info {
        &__inner {
            flex-wrap: wrap;
            align-items: center;
        }

        &__image {
            margin-bottom: 20px;
        }

        &__text {
            margin-left: 0;
            align-items: center;
            margin-top: 0;
        }

        &__title {
            p {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        &__button {
            margin: 0 auto 10px;
        }

        &__warning {
            text-align: center;
            margin: 0 auto 20px;
            padding-right: 0px;
            p {
                margin: 0 auto 40px;
                
            }
        }
    }
}

@media (max-width: 650px) {
    .header-inner {
        li {
            margin-top: 5px;
            &:nth-child(3) {
                margin-right: 50px;
            }
        }
    }

    .header-info__menu {
        text-align: center;
        li {
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
}

@media (max-width: 650px) {
    .header-inner {
        li {
            margin-top: 5px;
            &:nth-child(3) {
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 550px) {
    .header-info {
        .search-panel {
            margin-right: 5px;
            width: 220px;
            input[type="search"] {
                padding-left: 10px;
            }
        }
    }

    .main-info__post {
        text-align: center;
        text-decoration: underline;
        border-bottom: none;
        &:first-child {
            border-bottom: none;
        }
    }

  
}

@media (max-width: 450px) {
    .header-inner {
        text-align: center;
        li {
            margin-top: 5px;
            &:nth-child(4),
            &:nth-child(5) {
                margin-right: 15px;
            }
        }
    }

    .header-info__menu {
        text-align: center;
        li {
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-right: 8px;
            }
        }
    }
}

@media (max-width: 415px) {
    .header-inner {
        text-align: center;
        li {
            padding-left: 10px;
            margin-top: 5px;
            &:nth-child(4),
            &:nth-child(5) {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 370px) {
    .main-info {
        // &__inner {
        //     align-items: center;
        // }

        &__image {
            margin-bottom: 20px;
        }

        &__text {
            margin-left: 0;
            align-items: center;
            margin-top: 0;
        }

        &__title {
            p {
                font-size: 20px;
                // text-align: center;
            }
        }

        &__button {
            margin: 0px;
        }

        &__warning {
            text-align: center;
            margin: 0;
            padding-right: 0px;
            p {
                margin: 0 auto 20px;
                
            }
        }

        &__blog-title {
            font-size: 20px;
            text-align: center;
            &::after {
                display: none;
            }
        }

        &__posts {
            text-align: center;
        }
    }
}

@media (max-width: 350px) {
    .header-inner {
        text-align: center;
        li {
            padding-left: 0px;
            margin-top: 5px;
            &:nth-child(4),
            &:nth-child(5) {
                margin-right: 5px;
            }
        }
    }
}