@media (max-width: 1050px)  {
    .header-info {
        &__main {
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }
            .rating {
                margin-right: 5px;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
            }

            .button-come-in {
                margin-right: 15px;
            }
        }
    }

    .header-inner {
            li {
                margin-top: 5px;
                &:nth-child(3) {
                    margin-right: 80px;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    margin-right: 20px;
                }
            }
        }

    .header-info__menu {
        margin-top: 10px;
        text-align: center;
        li {
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }

    .header-bottom__inner {
        text-align: center;
        li {
            margin-bottom: 10px;
        }
    }

    .main-info__text {
        margin-left: 130px;
    }

    .about-info__videos {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about-info__video {
        iframe {
            border: 0px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1000px)  {
    .main-info__posts {
        flex-wrap: wrap;
    }
    .main-info__post{
        margin-right: 90px;
        margin-bottom: 15px;
    }

    .about-info {
        display: flex;
        iframe {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 975px) {
    
    .header-inner {
        li {
            &:nth-child(3) {
                margin-right: 40px;
            }
        }
    }
    .header-info {
        &__main {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
                order: 0;
            }

            .button-come-in {
                margin-right: 45px;
                order: 0;
                margin-top: 34px;
            }

            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 2;
            }
        }
    }

    .main-info__posts {
        padding-right: 0;
    }

    .main-info__post{
        margin-right: 70px;
        margin-bottom: 15px;
    }
}

@media (max-width: 890px) {
    .header-info {
        &__main {
            padding-right: 30px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
                order: 0;
            }

            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 0px;
            }

            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 1;
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .header-info {
        &__main {
            margin-right: 150px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 420px;
                order: 0;
            }

            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 0px;
            }

            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 1;
            }
        }
    }
}

@media (max-width: 850px) {
    .main-info__text {
        margin-left: 80px;
    }

    .main-info__posts {
        flex-wrap: wrap;
    }

    .header-info {
        .search-panel {
            margin-right: 15px;
            width: 320px;
            input[type="search"] {
                font-size: 10px;
                padding-left: 10px;
            }
            input[type="submit"] {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 810px) {
    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 50px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 100px;
                width: 320px;
                order: 0;
            }

            .button-come-in {
                margin-right: 15px;
                order: 2;
                margin-top: 0px;
            }

            .text {
                margin-left: 10px;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                margin-right: 100px;
                order: 3;
            }
        }
    }

    .main-info__posts {
        display: flex;
        justify-content: space-between;
    }

    .main-info__post{
        margin-right: 50px;
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .about-info {
        display: flex;
        flex-wrap: wrap;
    }
    .about-info__video {
        iframe {
            width: 80%;
            height: 80%;
        }
    }
    .main-info__post:last-child {
        margin-right: 150px;
    }
}

@media (max-width: 760px) {
    .header-info {
        &__main {
            .search-panel {
                margin-right: 50px;
                width: 320px;
                order: 0;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                margin-right: 50px;
                order: 3;
            }
        }
    }
}

@media (max-width: 720px) {
    .header-info {
        &__main {
            .search-panel {
                margin-right: 0px;
                width: 320px;
                order: 0;
            }
            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                margin-right: 0px;
                order: 3;
            }
        }
    }
    .main-info {
        &__inner {
            flex-wrap: wrap;
            align-items: center;
        }

        &__image {
            margin-bottom: 0px;
        }

        &__text {
            margin-left: 0;
            align-items: center;
            margin-top: 0;
        }

        &__title {
            p {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        &__button {
            margin: 0 auto 10px;
        }

        &__warning {
            text-align: center;
            margin: 0 auto 20px;
            padding-right: 0px;
            p {
                margin: 0 auto 40px;
            }
        }
    }
}

@media (max-width: 680px) {
    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 0px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .rating {
                margin-right: 5px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                width: 320px;
                order: 0;
            }
            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 0px;
            }
            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }

            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 1;
            }
        }
    }
}

@media (max-width: 650px) {
    .header-inner {
        li {
            margin-top: 5px;
            &:nth-child(3) {
                margin-right: 15px;
            }
        }
    }

    .header-info__menu {
        text-align: center;
        li {
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }

    .main-info__title {
        p {
            margin-top: 0;
        }
    }
}

@media (max-width: 630px) {
    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 0px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .rating {
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                margin-top: 0px;
                margin-left: 15px;
                width: 320px;
                order: 3;
            }
            .button-come-in {
                margin-right: 15px;
                order: 1;
                margin-top: 34px;
            }
            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 2;
            }
            .bascket {
                flex-wrap: wrap;
                margin-top: 34px;
                order: 1;
            }
        }
    }
}

@media (max-width: 550px) {
    .header-info {
        .search-panel {
            margin-right: 5px;
            width: 320px;
            input[type="search"] {
                padding-left: 10px;
            }
        }
    }

    .main-info__post {
        text-decoration: underline;
        border-bottom: none;
        &:hover,
        &:first-child {
            border-bottom: none;
        }
    }
}

@media (max-width: 540px) {
    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 0px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .rating {
                margin-right: 200px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                width: 320px;
                order: 3;
            }
            .button-come-in {
                margin-right: 15px;
                order: 2;
                margin-top: 0px;
            }
            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }
            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 2;
            }
        }
    }
}

@media (max-width: 490px) {
    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 0px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .rating {
                margin-right: 80px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                width: 320px;
                order: 3;
            }
            .button-come-in {
                margin-right: 15px;
                order: 2;
                margin-top: 0px;
            }
            .text {
                margin-left: 10px;
                align-items: center;
                margin-top: 5px;
                order: 1;
            }
            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 2;
            }
        }
    }
}

@media (max-width: 455px) {
    .main-info__post {
        margin-right: 20px;
        &:last-child {
            margin-right: 20px;
        }
    }
}

@media (max-width: 450px) {
    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 0px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 40px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                width: 320px;
                order: 4;
            }
            .button-come-in {
                margin-right: 15px;
                order: 2;
                margin-top: 0px;
                padding-right: 10px;
            }

            .text {
                margin-left: 10px;
                margin-right: 200px;
                align-items: center;
                margin-top: 5px;
                order: 1;
                margin-bottom: 20px;
            }
            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 3;
            }
        }

        .main-info__post {
            margin-right: 20px;
            &:last-child {
                margin-right: 20px;
            }
        }
    }
    .header-inner {
        text-align: center;
        li {
            margin-top: 5px;
            &:nth-child(4),
            &:nth-child(5) {
                margin-right: 15px;
            }
        }
    }

    .header-info__menu {
        text-align: center;
        li {
            margin-bottom: 10px;
            &:not(:last-of-type) {
                margin-right: 8px;
            }
        }
    }
}

@media (max-width: 415px) {
    .header-inner {
        text-align: center;
        li {
            padding-left: 10px;
            margin-top: 5px;
            &:nth-child(4) {
                margin-right: 10px;
            }
            &:nth-child(5) {
                margin-right: 40px;
            }
        }
    }
}

@media (max-width: 390px) {
    .header-inner {
        text-align: center;
        li {
            &:nth-child(5) {
                margin-right: 20px;
            }
        }
    }
}


@media (max-width: 370px) {
    .main-info {
        &__inner {
            display: flex;
            justify-content: center;
            &__image {
                margin-bottom: 20px;
            }

            &__text {
                p {
                    margin-left: 0;
                }
            }
            &__warning {
                text-align: center;
                padding-right: 0px;
                p {
                    margin: 0 auto 20px;
                }
            }
        }

        &__title {
            p {
                font-size: 20px;
            }
        }

        &__blog-title {
            font-size: 20px;
            text-align: center;
            &::after {
                display: none;
            }
        }
    }

    .about-info__title {
        font-size: 28px;
    }

    .header-info {
        &__main {
            padding-right: 0px;
            margin-right: 0px;
            display: flex;
            flex-wrap: wrap;
            .logo {
                order: 0;
                margin-bottom: 5px;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .rating {
                margin-right: 10px;
                order: 0;
            }
            .search-panel {
                margin-right: 15px;
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                width: 270px;
                order: 4;
            }

            .button-come-in {
                margin-right: 15px;
                order: 2;
                margin-top: 0px;
            }

            .text {
                margin-left: 10px;
                margin-right: 100px;
                align-items: center;
                margin-top: 5px;
                order: 1;
                margin-bottom: 20px;
            }
            .bascket {
                flex-wrap: wrap;
                margin-top: 0px;
                order: 3;
            }
        }
    }
}

@media (max-width: 350px) {
    .header-inner {
        text-align: center;
        li {
            padding-left: 0px;
            margin-top: 5px;
            &:nth-child(4),
            &:nth-child(5) {
                margin-right: 5px;
            }
        }
    }

    .header-info {
        &__main {
            justify-content: center;
            .search-panel {
                margin-right: 15px;
                margin-top: 20px;
                margin-left: 15px;
                margin-bottom: 20px;
                width: 220px;
                order: 4;
            }
        }
    }

    .main-info__post {
        margin-right: 10px;
    }
}