
@import 'global';
@import 'fonts';
@import 'normilize';

@import url('../fonts/SFUIDisplay-Regular');



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    max-width: 1440px;
    min-height: 235px;
    margin: 14px auto 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: #FFFFFF;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

.header-inner {
    font-weight: 600;
    
    li {
        font-weight: 600;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        line-height: 17px;
        &:nth-child(1) {
            margin-right: 19px;
            &:after {
                position: relative;
                content: url('../images/header-info/arrow-down-header.png');
                left: 5px;
            }
        }

        &:nth-child(2) {
            margin-right: 19px;
        }

        &:nth-child(3) {
            margin-right: 240px;
        }

        &:nth-child(4),
        &:nth-child(5) {
            margin-right: 35px;
        }

        &:nth-child(6), 
        &:nth-child(7) {
            margin-right: 19px;
        }
    }
}

.header-top {
    background-color: #FED600;
    min-height: 32px;
    font-size: 13px;
    color: #000;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

.header-info {
    &__main {
        display: flex;
        font-size: 13px;
        font-weight: 600;
        height: 100%;
        vertical-align: middle;
    }


    .logo {
        margin-top: 16px;
        margin-bottom: 22px;
    }

    .text {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: italic;
        max-width: 135px;
        margin-top: 34px;
        margin-left: 15px;
        span {
            color: #F60007;
        }
    }
    .rating {
        margin-top: 8px;
        margin-right: 20px;
    }
    .search-panel {
        width: 520px;
        border: 1px solid #dfdddd;
        margin-top: 30px;
        margin-right: 32px;
        min-height: 44px;
        height: 100%;
        vertical-align: middle;
        display: flex;
        border-radius: 4px;
        color: #e42525;
        input[type="search"] {
            border: none;
            outline: none;
            width: 450px;
            vertical-align: middle;
            padding-left: 15px;
            border-radius: 4px;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            color: #9e9e9e;
            
        }

        input[type="submit"] {
            border: 2px solid #D2001C;
            color: #D2001C;
            outline: none;
            font-size: 13px;
            font-weight: 600;
            width: 75px;
            height: 36px;
            border-radius: 4px;
            margin-top: 4px;
            margin-bottom: 4px;
            margin-right: 4px;
            background-color: #fff;
        }
    }

    .button-come-in {
        margin-top: 42px;
        min-width: 73px;
        margin-right: 32px;
        font-weight: 600;
        font-size: 13px;
        line-height: 17.7px;
        &:before {
            content: url('../images/header-info/come-in.png');
            position: relative;
            vertical-align: middle;
            right: 2px;

        }

    }
    .bascket {
        margin-top: 34px;
        min-width: 160px;
        height: 36px;
        background-color:#D2001C;
        padding-left: 17px;
        vertical-align: middle;
        border-radius: 4px;
        &::before {
            position: relative;
            content: url(/images/header-info/basket.png);
            top: 7px;
            left: -4px;
        }
        a {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 17.7px;
        }
    }

    &__menu {
        font-size: 13px;
        font-weight: 400;
        padding-bottom: 22px;
        
        li {
            display: inline-block;
            &:not(:last-of-type) {
                margin-right: 60px;
            }
        }
    }
}

.header-bottom {
    border-top: 1px solid rgba(189, 189, 189, 0.35);
}

.header-bottom__inner {
    padding-top: 20px;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 20px;
    vertical-align: middle;
    li  {
        display: inline-block;
        &:after {
            content: url('../images/header-info/arrow-down.png');
            position: relative;
            left: 5px;
        }

        &:not(:last-of-type) {
            margin-right: 16px;
        }
    }
}


.main-info {
    font-family: 'SF Pro Text', sans-serif;
}
.main-info__inner {
    display: flex;
}
.main-info__image {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 430px;
    object-fit: contain;
    margin-bottom: 50px;
    margin: 0 auto 50px;
}

.main-info__title {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 27px;
    max-width: 330px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 40px;
}
.main-info__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    max-width: 280px;
    height: 40px;
    background-color:#D2001C;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    a {
        color: #fff;
    }
}
.main-info__warning {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
    max-width: 280px;
    padding-right: 40px;
    margin-bottom: 40px;
}
.main-info__text {
    font-size: 16px;
    font-weight: 500;
    max-width: 708px;
    line-height: 19px;
    color: #4D4D4D;
    margin-left: 180px;
    a {
        color: #D2001C;
        border-bottom: 1px solid #D2001C;
    }
}
.main-info__blog {
    font-family: 'San Francisco Pro Display Regular', sans-serif;
    margin-bottom: 65px;
}

.main-info__blog-title {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 50px;
    &::after {
        position: absolute;
        content: '';
        width: 68%;
        border-top: 1px solid #000;
        opacity: 0.1;
        margin-left: 20px;
        margin-top: 15px;
    }
}
.main-info__posts {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    padding-right: 80px;

}
.main-info__post {
    color: #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    &::after {
        position: relative;
        content: url(/images/main-info__blog/arrow-right.svg);
        left: 20px;
    }
    &:first-child {
        color: #D2001C;
        border-bottom: 1px solid #D2001C;
        &::after {
            position: relative;
            content: url(/images/main-info__blog/arrow-right-red.svg);
            left: 20px;
        }
    }

}
.about-info {
    max-width: 1440px;
    min-height: 550px;
    background-color: #F9F9F9;
    margin-bottom: 100px;
}
.about-info__inner {
}
.about-info__title {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    padding-top: 70px;
    margin-bottom: 65px;
    &::after {
        position: absolute;
        content: url(/images/footer/slider-left.svg);
        left: 80%;
        border: 1px solid #d7d7d7;
        padding-right: 10px;
        padding-left: 10px;
    }

    &::before {
        position: absolute;
        content: url(/images/footer/slider-right.svg);
        // left: 90%;
        border: 1px solid #d7d7d7;
        padding-right: 10px;
        padding-left: 10px;
    }
}
.about-info__videos {
    display: flex;
    justify-content: space-between;
   
}
.about-info__video {
    iframe {
        border: 0px;
    }
}




@import 'media';













