
@import 'global';
@import 'fonts';
@import 'normilize';

html {
    box-sizing: border-box;
    
}

html, body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    max-width: 1440px;
    min-height: 235px;
    margin: 14px auto 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: #FFFFFF;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

.header-inner {
    font-weight: 600;
    li {
        font-weight: 600;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        line-height: 17px;
        &:nth-child(1) {
            margin-right: 19px;
            &:after {
                position: relative;
                content: url('../images/header-info/arrow-down-header.svg');
                left: 5px;
                top: -1px;
            }
        }

        &:nth-child(2) {
            margin-right: 19px;
        }

        &:nth-child(3) {
            margin-right: 240px;
        }

        &:nth-child(4),
        &:nth-child(5) {
            margin-right: 35px;
        }

        &:nth-child(6), 
        &:nth-child(7) {
            margin-right: 19px;
        }
    }
}

.header-top {
    background-color: #FED600;
    min-height: 32px;
    font-size: 13px;
    color: #000;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

.header-info {
    &__main {
        display: flex;
        font-size: 13px;
        font-weight: 600;
        height: 100%;
        vertical-align: middle;
    }
    .logo {
        margin-top: 16px;
        margin-bottom: 22px;
    }
    .text {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: italic;
        max-width: 135px;
        margin-top: 34px;
        margin-left: 15px;
        span {
            color: #F60007;
        }
    }
    .rating {
        margin-top: 8px;
        margin-right: 20px;
    }
    .search-panel {
        width: 520px;
        border: 1px solid #dfdddd;
        margin-top: 30px;
        margin-right: 32px;
        min-height: 44px;
        height: 100%;
        vertical-align: middle;
        display: flex;
        border-radius: 4px;
        color: #e42525;
        input[type="search"] {
            border: none;
            outline: none;
            width: 450px;
            vertical-align: middle;
            padding-left: 15px;
            border-radius: 4px;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            color: #9e9e9e;
        }
        input[type="submit"] {
            border: 2px solid #D2001C;
            color: #D2001C;
            outline: none;
            font-size: 13px;
            font-weight: 600;
            cursor: pointer;
            width: 75px;
            height: 36px;
            border-radius: 4px;
            margin-top: 4px;
            margin-bottom: 4px;
            margin-right: 4px;
            background-color: #fff;
        }
    }

    .button-come-in {
        margin-top: 34px;
        min-width: 73px;
        margin-right: 32px;
        font-weight: 600;
        font-size: 13px;
        line-height: 17.7px;
        cursor: pointer;
        &:before {
            content: url('../images/header-info/come-in.svg');
            align-items: center;
            position: relative;
            right: 2px;
            top: 7px;

        }
    }
    .bascket {
        margin-top: 34px;
        min-width: 160px;
        height: 36px;
        background-color:#D2001C;
        padding-left: 17px;
        vertical-align: middle;
        border-radius: 4px;
        &::before {
            position: relative;
            content: url('../images/header-info/basket.svg');
            top: 7px;
            left: -4px;
        }
        a {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            line-height: 17.7px;
        }
    }
    &__menu {
        font-size: 13px;
        font-weight: 400;
        padding-bottom: 22px;
        
        li {
            cursor: pointer;
            display: inline-block;
            &:not(:last-of-type) {
                margin-right: 60px;
            }
        }
    }
}

.header-bottom {
    border-top: 1px solid rgba(189, 189, 189, 0.35);
}

.header-bottom__inner {
    padding-top: 18px;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 22px;
    vertical-align: middle;
    li  {
        cursor: pointer;
        display: inline-block;
        &:after {
            content: url('../images/header-info/arrow-down.svg');
            position: relative;
            left: 3px;
            top: 5px;
        }

        &:not(:last-of-type) {
            margin-right: 5px;
        }
    }
}

.main-info {
    margin-top: 70px;
    h1 {
        display: none;
    }
}
.main-info__inner {
    display: flex;
    align-items: top;
}
.main-info__image {
    img {
    width: 1230px;
    max-width: 100%;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 48px;
    }
}

.main-info__title {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 27px;
    min-width: 330px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 40px;
}
.main-info__button {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    max-width: 280px;
    height: 40px;
    background-color:#D2001C;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    a {
        color: #fff;
    }
}
.main-info__warning {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 14px;
    color: #c4c4c4;
    max-width: 280px;
    width: 100%;
    padding-right: 40px;
    margin-bottom: 40px;
}
.main-info__text {
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-size: 16px;
    width: 708px;
    width: 100%;
    line-height: 19px;
    margin-left: 180px;
    margin-top: 15px;
    cursor: pointer;
    p {
        color: #4D4D4D;
    }
    a {
        color: #D2001C;
        border-bottom: 1px solid #D2001C;
    }
}
.main-info__blog {
    font-family: 'San Francisco Pro Display Regular', sans-serif;
    margin-bottom: 65px;
    h3 {
        display: none;
    }
}

.main-info__blog-title {
    font-family: 'SFProDisplay-Regular';  
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
    padding-right: 10px;
    &::after {
        display: block;
        width: 870px;
        content: '';
        position: absolute;
        border-bottom: 1px solid #000;
        opacity: 0.1;
        left: 320px;
        top: 50%;
    }
}
.main-info__posts {
    font-family: 'SFProDisplay-Regular';  
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    padding-right: 80px;

}
.main-info__post {
    color: #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    cursor: pointer;
    &::after {
        position: relative;
        content: url('../images/main-info__blog/arrow-right.svg');
        left: 18px;
    }
    &:hover,
    &:first-child {
        color: #D2001C;
        border-bottom: 1px solid #D2001C;
        &::after {
            position: relative;
            content: url("../images/main-info__blog/arrow-right-red.svg");
            left: 18px;
        }
    }
}
.about-info {
    max-width: 1440px;
    min-height: 550px;
    height: auto;
    background-color: #f9f9f9;
    margin: 0 auto 100px;
    padding-bottom: 65px;
}

.about-info__title {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 36px;
    color: #222222;
    line-height: 43px;
    font-weight: 400;
    padding-top: 70px;
    margin-bottom: 65px;
    position: relative;
    &::after {
        position: absolute;
        content: url("../images/footer/slider-left.svg");
        border: 1px solid #E5E5E5;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        min-height: 39px;
        padding-right: 15px;
        padding-left: 15px;
        right: 40px;
    }

    &::before {
        display: block;
        position: absolute;
        content: url("../images/footer/slider-right.svg");
        border: 1px solid #E5E5E5;
        border-left: none;
        min-height: 39px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-right: 15px;
        padding-left: 15px;
        right: 0px;
    }
}
.about-info__videos {
    display: flex;
    justify-content: space-between;
   
}
.about-info__video {
    padding-right: 10px;
    iframe {
        border: 0px;
    }
}




@import 'media';













